#video {
    background: #000;
}
#controlWrap{
    width:100%;
}
#progressWrap{
    background-color: #ccc;
    height: 5px;
    cursor: pointer;
    margin-bottom: 5px;
}
#progressWrap:hover{
    height: 5px;
}
#playProgress{
    background-color: #000;
    width: 0px;
    height: 100%;
}